/* html {
    background-color: blue;
} */

.border {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: pink;
    width: 100%;
    height: auto;
}

.fresh {
    color: blueviolet;
}

h1 {
    color: blue;
}

h2 {
    background: blue;
    color: white;
}

span {
    font-size: 200%;
}

#special {
    background: yellow;
}

.alert{
    border: 2px solid grey;
}

.alert.stop{
    background: red;
}

.alert.go{
    background: green;
}

a:link { color: blue; }

a:visited{
    color: red;
}

a:hover {
  text-decoration: none;
}

.container > p {
font-size: 150%;
}

 .container > :first-child::first-line {
   color: orangered;
 }

 tr:nth-child(even){
background-color: #333333;
color: white;
 }