/* html {
    background-color: blue;
} */

.border {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: pink;
    width: 100%;
    height: auto;
}

.fresh {
    color: blueviolet;
}

h1 {
    color: blue;
}

h2 {
    background: blue;
    color: white;
}

span {
    font-size: 200%;
}

#special {
    background: yellow;
}